*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #545454;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 10vw;
    position: fixed;
    width: 100%;
    top: 0px;

}
#logo{
    color: white;
    font-size: 40px;
    font-weight: 600px;

}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}
a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
#inicio{
    background-image: url(../images/caminhaoBackground.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0vh 10vw;
    font-size: x-large;
}
h1{ 

    color: white;
    font-size: 45px;
    text-align: center;
    text-shadow: 4px 15px 10px black;
    font-size: 60px;
}
h2{
    color: #545454;
    font-size: 35px;
    padding-bottom: 8vh;
    text-align: center;
}
.quem-somos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8vh 10vw;
}
.div-a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
.div-a img{
    max-width: 40vw;
}
#servicos{
    display: flex;
    flex-direction: column;
}
.divPai{
    display:flex;
    justify-content: space-between;
    padding: 0vh 10vw 8vh 10vw;
}
.div-filho img{
    max-width: 25vw;
}
.div-filho{
    border: 4px solid #545454;

}
.div-filho p{
    color: #545454;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding: 1rem;
}
#contato div {
  border: 2px solid #333;
  padding: 20px;
  width: 300px;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

#contato label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

#contato input[type="text"] {
  width: 100%;
  padding: 6px;
  margin-bottom: 15px;
  border: 1px solid #999;
  border-radius: 4px;
}

#contato button {
  padding: 8px 16px;
  background-color: #444;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#contato button:hover {
  background-color: #666;
}